/*
Project Name: Blank Template
Client: Your Client
Author: Your Name
Developer @GA in NYC
*/


/******************************************
/* SETUP
/*******************************************/

/* Box Model Hack */
* {
     -moz-box-sizing: border-box; /* Firexfox */
     -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
     box-sizing: border-box; /* IE */
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
  clear: both;
}

.alignright {
  float: right;
  padding: 0 0 10px 10px; /* note the padding around a right floated image */
}

.alignleft {
  float: left;
  padding: 0 10px 10px 0; /* note the padding around a left floated image */
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
     color: #000;
     font-size: 12px;
     line-height: 1.4;
     font-family: Helvetica, Arial, sans-serif;
     background-color: #f0efef;
     margin: auto;
}


/******************************************
/* LAYOUT
/*******************************************/

/* Center the container */



/* element formatting*/

body {
  background-color: #f0efef;
}

header {
  background-color: #033048;
  color: white;
  clear: both;
  width: 100%;
}

#headerlogo {
  width: 30%;
  padding-top: 5px;
  padding-left: 50px;
  display: inline-block;
  clear: both;
}

nav {
float: right;
clear: both;
display: inline-block;
font-weight: bold;
color: #f9e42e;
font-size: 24px;
width: 40%
}

#maincolumn {
  width: 700px;
  margin-top: 50px;
  margin-left: 70px;
  float: left;
}

#sidebar {
  width: 240px;
  float: right;
  display: inline-block;
  margin-top: 45px; 
}

ul {
    list-style-type: none;
    padding-top: 5px;
}

li {
  display: inline;
  padding-right: 30px;
}

a:hover {
  color: red; 
}

.article {
  border-bottom: 2px solid #121212;
  clear: both;
  display: inline-block;
}

.readmore {
  color: #033048;
  font-size: 24px;
  font-weight: bold; 
  float: right;
  clear: both;
  display: inline-block;
}

button {
  background-color: #033048;
  color: #606161;
  width: 170px;
  border-radius: 5px; 
  border: none;
  padding: 5px;
  font-size: 22px;
  font-weight: bold;
}

#divider {
  background-color: #f9e42e;
  width: 100%;
  height: 75px;
  clear: both;
  text-align: center;
  padding-top: 20px;
  margin-top: 100px;
  display: block;
}

footer {
  height: 200px;
  text-align: center;
  background-color: #121212;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-right: 30px;
  padding-left: 30px;
}

#twiiter {
  width: 30px;
  height: 30px;
}

#facebook {
  width: 15;
  height: 20px;
}


/*pros formatting*/

.logo {
  font-size: 24px;
  color:  #606161;
}

.posttitle {
  font-size: 40px;
  font-weight: bold;
  color: #033048;
}

.bodytext {
  font-size: 24px;
  font-weight: lighter;
  color:  #606161;
}

a {
  text-decoration: none;
  color: #f9e42e;
}

.firstcharacter {
  float: left;
  font-size: 75px;
  line-height: 60px;
  color: #033048;
}

.sidebarheaders {
  font-size: 32px;
  font-weight: bolder;
  color: #033048;
}

#list {
  font-size: 24px; 
  font-weight: lighter;
  color: #606161;
}

#aboutcopy {
  color: #606161;
  font-size: 22px;
  font-weight: lighter;
}

#learnmore {
  font-size: 22px;
  font-weight: bold;
  color: #033048;
}

#color {
  color: #606161;
}
/******************************************
/* ADDITIONAL STYLES
/*******************************************/




